# Objekterkennung IntSys

In diesem Projekt sollen Objekte auf einem Drehteller mithilfe eines Ultraschall Sensors (HCSR04) erkannt werden.

Die gemessenen Daten befinden sich im Unterordner "messdaten"

### Primär orientieren wir uns an der digits-erkennen Übung, und benutzen sklearn

In [10]:
import matplotlib.pyplot as plt
from sklearn import datasets, metrics, svm
from sklearn.model_selection import train_test_split
import pandas as pd

ModuleNotFoundError: No module named 'sklearn'

# Datenformat

Jede log-Datei in den Messdaten besteht aus 10 Umdrehungen.
Zum modellieren, wird die raw data 50/50 geteilt, und anschliessend vorbereitet

Messdateninfos:
Die Messdaten haben jeweils 61 Messpunkte/Umdrehung

In [1]:
directory = "messdaten/"

file = "logfile_deo_dose_53mm.txt"

df = pd.read_csv(directory + file, header=None)

NameError: name 'pd' is not defined

In [ ]:
def transform_data(df):
    """
    input 305 measurement points, > 5 turns * 61 measurements
    für jeden messpunkt einer drehung die nächsten 61 punkte anhängen
         > ACHTUNG!: nur wenn es 61 oder mehr messpunkte bis zum ende des input df gibt!
    """

    return df_single_measurements

def label_data(df, label):
    df = df.drop(df.columns[0], axis=1)
    df['Label'] = label
    
    """ergänzt dataframe mit einer column, da steht welches objekt gemessen wurde
    """
    return df_labeled

labels = ['hallo']
df = label_data(df,labels)
print(df)

            0
0    5.051546
1    5.051546
2    5.051546
3    5.051546
4    6.030928
..        ...
605  5.051546
606  5.034364
607  5.051546
608  5.051546
609  5.051546

[610 rows x 1 columns]